
.kutuKategori {
    text-align: left;
    border-bottom: 1px solid $vlightBg;
    padding: 0 0 25px 0;
    .kutuHeaderKategori {display:none;}
        .menuKategori {
                li.sel.s1 {
                    position:relative;
                    > a {
                        font-size: 18px;
                        padding: 20px 0 15px 0px;
                        display: inline-block;
                        color: $title;
                        font-family: $fM;
                        &.filter-yt-btn {
                            top:0;
                        }
                    }
                    > span.filterQty {
                            display: none !important; 
                        }
                }
                li.sel.s2 {
                    position:relative;
                    > a {
                        font-size: 18px;
                        padding: 20px 0 15px 0px;
                        display: inline-block;
                        color: $title;
                        font-family: $fM;
                        &.filter-yt-btn {
                            top:0;
                        }
                    }
                    > span.filterQty {
                            display: none !important; 
                        }
                }
                li.sel.s3 {
                    position:relative;
                    > a {
                        font-size: 18px;
                        padding: 20px 0 15px 0px;  
                        display: inline-block;
                        color: $title;
                        font-family: $fM;
                        &.filter-yt-btn {
                            top:0;
                        }
                    }
                    > span.filterQty {
                            display: none !important; 
                        }
                }
            ul {
                padding:0;
                li {
                    width: 100%;
                    display: inline-block;
                    position: relative;
                    &.sub-items {
                        > b {
                        display: inline-block;
                        float: left;
                        margin: 6px 8px 0 0;
                        cursor: pointer;
                        text-align: center;
                                &:after {
                                        content: "\e92a";
                                        font-family: 'icomoon';
                                        font-size: 8px;
                                        color: #ff6c6c;
                                        position: relative;
                                        top: 2px;
                                        float: right;
                                } 
                            }
                            &.opened {
                               > b {
                                     &:after { 
                                         content:'\e931';
                                         font-family: 'icomoon';
                                     }
                                }
                            }
                        }
                    }
                li.s2 {
                    border-bottom:1px solid $lines;
                    margin-bottom: 15px;
                    > a {
                        display: inline-block;
                        width: auto;
                        font-size:12px;
                        padding:0;
                        border:0;
                        padding-bottom: 16px;
                    }
                    ul {
                    /*display: none;*/
                    padding-bottom: 12px;
                    }
                    &:last-child {margin:0;}
                    &.opened {
                        
                    }
                }
                li.s2.opened {
                    /*> b:before {content:'\e91e';}*/
                }
                li.s3 {
                    margin-bottom: 0px;
                    > a {
                        /*font-family: $fM;*/
                    }
                    b {
                        /*width:12px;
                        height: 12px;*/
                        display: inline-block;
                        float: left;
                        /*border:1px solid $sText;*/
                        margin: 6px 8px 0 0;
                        /*display:none;*/

                    }
                    a {
                        width: auto;
                        color: $title;
                        line-height: 26px;
                        /*padding-left: 30px;*/
                        display: inline-block;
                        &:hover {
                            color:$text; 
                        }
                    }
                    a.active {
                        /*color:$text;*/
                    }
                    ul {
                        display:none;
                        margin: 10px 0;
                        padding: 10px 0 10px 16px;
                        }
                }
                li.sel.s3 {
                    padding-right: 25px;
                   b {
                       border: $dlightBg;
                   } 
                   a:before {
                       border: $dlightBg; 
                       background:$rText;
                   }
                        
                }
                li.s4 {
                    padding-right: 25px;
                    margin-bottom: 15px;
                    > a {
                        /*font-family: $fM;*/
                    }
                    b {
                        /*width:12px;
                        height: 12px;*/
                        display: inline-block;
                        float: left;
                        /*border:1px solid $sText;*/
                        margin: 6px 8px 0 0;
                        display:none;

                    }
                    a {
                        width: auto;
                        color: $title;
                        line-height: 14px;
                        /*padding-left: 30px;*/
                        display: inline-block;
                        &:hover {
                            color:$text; 
                        }
                    }
                    a.active {
                        /*color:$text;*/
                    }
                    
                    ul {display:none;}
                }
            }

            li {
                a {
                    color: $text;
                    &:hover {
                        color: $title;
                    }
                }
                  &.s1 {
                    > a {
                        display:none !important;
                    }
                    > span.filterQty {
                        display:none !important;
                    }
                    ul {
                        li.s2 {
                            > b, > span {display:none;}
                            > a {
                               font-size: 18px;
                                padding: 20px 0 15px 0px;
                                display: inline-block;
                                color: $title; 
                                font-family: $fM;
                            }
                        }
                    }
                }
            }
        }
}
