/*Cookie Kampanya Banner*/
.ems-row.ems-row-2.mainPageBg {
    background: $lightBg;
    display: inline-block; 
    width:100%;
    margin-bottom: 70px;
}

.ems-cookie-bnr-wrp {
.ems-cookie-bnr {
    width: 100%;
    margin-bottom:20px;
    &:hover {
        span {
            &:before {
                content:'';
                width: 100%;
                
            }
        }
        h1 {
            bottom:10px;
        }
        p {
            bottom: 5px;
        }
        .ems-cookie-bnr-right {
            img {
                -webkit-transform: scale(1.02);
                -ms-transform: scale(1.02);
                transform: scale(1.02);
            }
        }
    }
    /*background-size: cover !important;*/
    &-inner{
        margin: 0 auto;
        max-width: 1240px;
        width: 100%; 
        display: table;
        position: relative;
    }
    &-content{
        padding: 60px;
        text-align: center;
        h5{ margin: 0 0 25px 0;  font-size: 30px;  color: $text; font-family: $fD; font-weight: normal; }
        h1 {@include transition(all 0.3s ease); position:relative; bottom:0;}
        p{ margin: 0 0 25px 0; font-size: 18px; color: $title; max-height: 68px; overflow: hidden; @include transition(all 0.3s ease); position:relative; bottom:0; }
        .ems-cookie-bnr-logo {
            margin-top: 30px;
        }
        span {
            font-size: 18px; 
            color: $rText;
            font-family: $fM;  
            position:relative;
            &:before {
                content:'';
                width: 0;
                height: 2px;
                position: absolute;
                bottom:-5px;
                left: 0;
                right: 0;
                margin: 0 auto;
                background: $rText;
                display: inline-block;
                @include transition(all 0.3s ease);
            }
        }
    }
    &-link {
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        z-index: 1;
    }
    &-left{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        background: #fff;
    }
    &-right{
        width: 50%;
        display: table-cell;
        background: #fff;
        overflow: hidden;
        img {
            @include transition(all 0.3s ease);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
        .ems-cookie-bnr-close{
            position: absolute;
            width: auto;
            top: 20;
            right: 0;
            z-index: 1;
            a{
                i.icon-ico_quit{
                    &:before{
                        font-size: 10px;
                        color: #1c1213;   
                    }
                }
                span { margin-left: 8px; font-size: 14px; color: #1e1414; font-family: $fM; }
            }
        }
        .ems-cookie-bnr-btn{
            position: absolute;
            bottom: 15px;
            right: 100px;
            a{
                display: block;
                border-radius: 5px;
                padding: 16px 25px;
                background: #f3d54e;
                text-align: center;
                span{
                    font-size: 14px;
                    font-family: $fM;
                    color: #005d90;
                }
                &:hover {
                    background: #f9de64;
                }
            }
        }
    }   
    &.rightAlign {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        .ems-cookie-bnr-left {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        .ems-cookie-bnr-right {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
}

}

/*Ana Sayfa One Cikan Urunler*/
.featured-products {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    .ems-prd-list-count {
        display: none;
    }
    .featured-products-title{
        font-size: 24px;
        margin: 15px 0 15px 0;
        font-weight: normal;
        font-family: $fM;
    }
    .featured-products-link{
        position: absolute;
        top: 10px;
        right: 20px;
        a.allProducts{
            padding: 10px 0;
            span, i.icon-ico_arrw{ display: inline-block; vertical-align: middle;}
            span { font-family: $fM; color: $dBlue; @include transition(all .2s ease); }
            i.icon-ico_arrw{ margin-left:10px; @include transition(all .2s ease); }
            i.icon-ico_arrw:before{ color: $dBlue; font-size: 14px; @include transition(all .2s ease);}
            &:hover{
                i.icon-ico_arrw { margin-left: 15px; }
                span, i.icon-ico_arrw:before { color: $lBlue; }    
            }
        }
    }
    .ems-prd {
        width: 25%; 
        .listBottomBtn {
            .ems-prd-addBasket{
                .urunListe_adet { display: none; }
            }
        }
    }
    .ems-prd-list {
        .ems-prd-list-prop,
        .ems-prd-list-paging { display: none; }
    }
}

/* En Çok Satanlar */

.kutuEncokSatan {
    margin-bottom: 20px;
    .cokSatan_header {
        margin-bottom: 20px;
        span {
            font-size:40px;
            padding: 0 20px;
            background: #fff;
            position: relative;
            left: 30px;
            z-index: 1;
        }
        &:after {
            content:'';
            background: linear-gradient(-90deg, $pink, $lPink);
            height: 22px;
            display: block;
            position: relative;
            top: -30px;
        }
    }
    .kutuEncokSatan_lnkEnCokListe {
        display:none;
    }
}

.kutuYeniUrun {
    margin-bottom: 20px;
    .kutuHeaderYeniUrun {
        margin-bottom: 20px;
        span {
            font-size:40px;
            padding: 0 20px;
            background: #fff;
            position: relative;
            left: 30px;
            z-index: 1;
        }
        &:after {
            content:'';
            background: linear-gradient(-90deg, $green, $lGreen);
            height: 22px;
            display: block;
            position: relative;
            top: -30px;
        }
    }
    .lnkEnCokListe, .yeniUrun_header {
        display:none;
    }
}

.pnlTabs {
    margin-bottom: 20px;
    .shadetabs {
        margin-bottom: 20px;
        .tabsMiddle {
            font-size:40px;
            padding: 0 20px;
            background: #fff;
            position: relative;
            left: 30px;
            z-index: 1;
        }
        &:after {
            content:'';
            background: linear-gradient(-90deg, #f06273, #f86dbe);
            height: 22px;
            display: block;
            position: relative;
            top: -30px;
        
        }
    }
}

/* Blog */

.mainBlog {
    position: relative;
    display: block;
    .swiper-title {
        padding-bottom: 0;
        a.bPage {
            position: absolute;
            right: 0px;
            top: 30px;
            background: #fff;
            @include transition(all 0.2s ease);
            &:before {
                    content: "\e936";
                    font-family: 'icomoon';
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 3px;
                    width: 0;
                    overflow: hidden;
                    font-size: 10px;
                } 
            &:hover {
                padding-right:15px;
                &:before {
                    width: auto;
                } 
            }
        }
    }
    .blog-home-swiper {
        margin:20px auto 0 auto;
    }
    .swiper-title {
        position: relative;
    }
    .swiper-inner {
        margin-top: 20px;
        /*overflow: hidden;*/  
        ul {
            li {
                overflow: hidden; 
                max-width: 33.333%;
                a {
                    display: inline-block;
                    width: 100%;
                    .blogImg {
                        display:block; width:100%; overflow:hidden; max-height: 210px;
                        img {
                           transition:all 0.4s ease-in-out;
                        }
                    }
                    .blogContent {
                        padding:25px 25px 50px 25px; 
                        font-size: 24px;
                        color: $title;
                        margin-bottom: 20px;
                        background: $lightBg;
                        min-height: 180px;
                        position: relative;
                        p {
                            font-size: 14px;
                            color: $text;
                            margin-bottom:20px;
                            height: 28px;
                            overflow: hidden;  
                        }
                        .title, .cat {
                            @include transition(all 0.3s ease);
                            position: relative;
                            bottom:0px;
                        }
                        > span {
                            font-size: 18px;
                            color: $rText;
                            font-family: $fM;
                            position: absolute;
                            bottom: 25px;
                            left: 25px;
                            &:before {
                                content:'';
                                width: 0;
                                height: 2px;
                                position: absolute;
                                bottom:-5px;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                background: $rText;
                                display: inline-block;
                                @include transition(all 0.3s ease);
                            }
                        }
                    }
                    &:hover {
                        .blogImg {
                            img {
                                -webkit-transform:scale(1.02); -ms-transform:scale(1.02); transform: scale(1.02);
                            }
                        }
                        .title {
                            bottom:8px;
                        }
                        .cat {
                            bottom:4px;
                        }
                        span {
                            &:before {
                                content:'';
                                width: 100%;
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width:960px) {
    .mainBlog .swiper-inner  ul {
        transition: none !important;
        transform: none !important;
        li {
            /*width:33.333% !important;*/
            &:nth-child(1) {
               a {
                   padding-right:15px;
               }
            }
            &:nth-child(2) {
                a {
                padding:0 5px; 
                }
            }
            &:nth-child(3) {
                a {
                padding-left:15px;
                }
            }
        }
    }
}

/*Mobile Gecis*/
@media screen and (max-width: 1100px) {

    .featured-products {
        .ems-prd-list {
            .ems-prd {
            width: 25%;  
            }
        }
    }
}

@media screen and (max-width:$breakpointSM) {
    .ems-tab-featured {
        display: none !important;
    }

    .widget.realTime-widget,
    .widget.you-viewed-widget,
    .top-sellers-widget,
    .cat-top-seller-widget{
        /*display: none !important;*/
    }
    /*Cookie banner*/
    .ems-cookie-bnr{
        position: relative;
        &-inner{
            transform: none;
            top: inherit;
            max-width: 100%;
            padding-top: 15px;
            position: static;
        }
        &-content{
            h1{ font-size: 24px; }
            p{ font-size: 12px; }
            .ems-cookie-bnr-logo { display: none; }
        }
        &-left{
           width: 100%;
           max-width: 100%;
           float: none;
        }
        &-right{
            position: inherit;
            left: inherit;
            right: inherit;
            top: inherit;
            max-width: 100%;
            height: auto;
            .ems-cookie-bnr-close{
                top: 20px;
                right: 20px;
            }
            .ems-cookie-bnr-btn{
                position: inherit;
                bottom: inherit;
                right: inherit;
                a{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: none;
                    span {
                        display:none;
                    }
                }
            }
        }
    }
    /*Ana Sayfa One Cikan Urunler*/
    .featured-products {
        padding: 0;
        .featured-products-title{
            font-size: 20px;
            color: #263238;
            margin: 25px 0 10px 20px;
        }
        .featured-products-link{
            position: inherit;
            top: inherit;
            right: inherit;
            a.allProducts{
                background: $lightBg;
                padding:18px 10px;
                display: block;
                text-align: center;
                span{font-size: 12px;}
                i.icon-ico_arrw{ display: none;}
            }
        }
    }
    // 960px Öne çıkan ürün 
    .featured-products {
        .ems-prd-list {
            ul {
                li.ems-prd {
                    display:none; 
                    width: 50%;
                }
                li.ems-prd:nth-child(1), li.ems-prd:nth-child(2), li.ems-prd:nth-child(3), li.ems-prd:nth-child(4) {
                    display:inline-block; 
                }
            }  
        }
    }
    .kutuYeniUrun {
        .kutuHeaderYeniUrun {
            text-align: center;
            span {
                left: 0;
            }
        }
        .ems-prd-list {
                ul {
                    li.ems-prd {
                        display:none; 
                    }
                    li.ems-prd:nth-child(1), li.ems-prd:nth-child(2), li.ems-prd:nth-child(3), li.ems-prd:nth-child(4) {
                        display:inline-block; 
                    }
                }
            }
        .listBottomBtn {
            display: none !important;
        }
    }
    .kutuEncokSatan {
        .listBottomBtn {
            display: none !important;
        }
    }
    .urunTab {
        .pnlTabs {
            .shadetabs {
                li {
                    text-align: center;
                    .tabsMiddle {
                        left:0;
                    }
                }
            }
        }
    }
    .cokSatan_header {
        text-align: center;
        span {
            left: 0 !important;
        }
    }
    .social-feeds .socialFeed {
        left:260px !important;
    }

    .mainProduct {
        ul {
            li {
                width: 50%;
            }
        }
    } 
}

@media screen and (max-width:640px) {
    // 640px Öne çıkan ürün 
    .featured-products {
        .ems-prd-list {
            .ems-prd {
            width: 50%;  
            } 
        }
    }
    .ems-cookie-bnr {
        background: none !important;
        &-mobile {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .ems-cookie-bnr-left, .ems-cookie-bnr-right {
            width:100% !important;
            display: inline-block;
        }
    }
    .social-feeds {
        .socialFeed {
            height: 180px !important;
            width: 180px !important;
            padding: 15px !important;
            left: 0px !important;
            .cont p {
                max-height: 100px;
                overflow: hidden; 
            }
        }
        .swiper-container {
            .swiper-inner {
                ul {
                    li {
                        height: 180px !important; 
                        width: 180px !important;  
                    }
                }
            }
        }
    } 
    .mainBlog .swiper-inner {
        overflow: hidden;
        ul li {
            max-width: 100%; 
        }
    }
    
    .kutuYeniUrun {
        .kutuHeaderYeniUrun {
            padding-left: 0px; 
        }
        .ems-prd{
            display:none !important;
            &:nth-child(1) {display:inline-block !important;}
            &:nth-child(2) {display:inline-block !important;}
            &:nth-child(3) {display:inline-block !important;}
            &:nth-child(4) {display:inline-block !important;}
        }
    }
    .kutuEncokSatan {
        .cokSatan_header { 
            padding-left: 0px; 
        }
        .ems-prd{
            display:none !important;
            &:nth-child(1) {display:inline-block !important;}
            &:nth-child(2) {display:inline-block !important;}
            &:nth-child(3) {display:inline-block !important;}
            &:nth-child(4) {display:inline-block !important;}
        }
    }
}