/*Ana Sayfa Slider*/
.main-slider-holder{
    width: 100%;  
    overflow: hidden;
    background: $lightBg;
}
.main-slider {
    margin: 0 auto 20px auto;
    max-width: 1400px;
    width: 100%;
    padding: 0px;
    position: relative;
    .swiper-inner {
        position: relative;
        overflow: hidden;
        .swiper-button-prev, .swiper-button-next{
            /*display:none;*/
            background: transparent;
            width: 40px; 
            height: 40px;
            margin-top: 0px;
            line-height: 40px;
            z-index: 3;
            border-radius: 100%;
            opacity: 0;
            @include transition(opacity .2s ease);
        }
        .swiper-button-prev {
            left: 15px;
                i { 
                    margin-right: 3px;
                    &:before {
                        content:''; width:40px; height: 65px; display: inline-block; background:url(#{$baseHref + "/images/frontend/slider-arrow.png"}) no-repeat left top;
                    }
                }
                &:hover {
                    
                }
        }
        .swiper-button-next{
            right: 15px; 
                i {
                    margin-left: 3px;
                    &:before {
                        content:''; width:40px; height: 65px; display: inline-block; background:url(#{$baseHref + "/images/frontend/slider-arrow.png"}) no-repeat right top;
                    }
                }
        }
    }
    .swiper-slide{
        width: 100%;
        /*height: 370px;
        opacity: .3;*/
        @include transition(opacity .2s ease);
        .inner {
            position: relative;
            /*height: 360px;*/
            width: 100%;
            background-size: cover !important;
            /*border-radius: 3px;*/
            display: inline-block;
            vertical-align: top;
            /*-webkit-filter: grayscale(1);
            filter: grayscale(1);*/
        }
        .swiper-slide-container {
            /*padding: 5px;*/
            > a{ display: block; }
            .sliderMrk {
                position: absolute;
                bottom: 20px;
                left: 25px;
                max-width: 70px;
            }
        }
        .swiper-slide-wrapper {
            position: relative;
            display: inline-block;
            vertical-align: top;
            /*min-height: 370px;*/
            width: 100%;
            &.right {
                .text-wrapper {
                    right: 100px;
                    left: auto;
                }
            }
            &.white {
                .text-wrapper {
                    h4, p {
                        color: #fff;
                    }
                    span {
                        background: #fff;
                        color: $title;
                    }
                    b {
                        border-color: #fff;
                        color: #fff; 
                    }
                }
            }
            .text-wrapper {
                position: absolute;
                padding: 30px;
                top: 50%;
                left: 100px;
                text-align: left;
                width: 40%;
                /*width: 100%;*/
                @include setTransform(translateY(-50% ));
                h1{ 
                    margin: 10px 0 0 0;
                    font-size: 30px;
                    font-weight: normal;
                    font-family: $fM;
                    max-height: 60px;
                    overflow: hidden; 
                    line-height: 32px;
                }
                sup {
                    font-size: 60%;
                }
                ul {
                    padding-top: 10px;
                    max-height: 85px;
                    overflow: hidden;
                    li{
                        line-height: 18px;
                    }
                }
                &-floor{
                    background: #ffffff;
                    padding:20px 20px 0 20px;
                    text-align: center;
                    .prd-subtitle{
                        max-height: 35px;
                        min-height: 35px;
                        overflow: hidden;
                    }
                    .prd-price {
                        > div{
                            background: none;
                            padding: 5px 0 0 0;
                            margin-top: 5px;
                            span{
                                color: $dBlue;
                            }
                            i {
                                &:before{
                                    color: $dBlue;
                                }
                            }
                        }
                    }
                }
                .prd-price {
                    > div{
                        text-align: center;
                        display: inline-block;
                        background: $dBlue;
                        border-radius: 5px;
                        padding:7px 15px;
                        min-width: 150px;
                        margin-top: 15px;
                        font-size: 36px;
                        font-family: $fB;
                        color: #fff;
                        span{
                            display: inline-block;
                            vertical-align: top;
                        }
                        span{
                            color: #ffffff;
                            font-size: 36px;
                            font-family: $fB;
                            &.d {
                                font-size: 20px; 
                                position: relative;
                                top: 1px;
                                vertical-align: super;
                                display:none; 
                            }
                        }
                        .pb1{ display: none; }
                        &:before{
                            content: 't';
                            font-family: $tl;
                            color: #ffffff;
                            font-size: 30px;
                            display: inline-block;
                            margin-right: 5px;
                            font-weight: normal;
                        }
                    }
                }
                b {
                    border:1px solid $title;
                    border-radius: 3px;
                    font-size: 12px;
                    padding: 5px 10px;
                    margin: 0 5px 25px 5px;
                    display: inline-block;
                }
                h4 {
                    font-size: 48px;
                    margin: 0 0 25px 0;
                    font-family: $fD;
                    font-weight: normal;
                }
                p {
                    font-size: 18px;
                    i {
                        &:before {
                            content: "\e909"; 
                            font-family: 'icomoon'; 
                            font-size: 14px;
                            margin-right: 10px;
                            font-weight: bold;
                        }
                    }
                }
                span {
                    position: relative;
                    display: inline-block;
                    background: $title;
                    padding: 17px 50px 16px 50px;
                    text-transform: uppercase;
                    font-size: 18px !important;
                    color: #fff;
                    font-family: $fM;
                    text-align: center;
                    font-weight: normal;
                    transition: all 0.2s ease;
                    -webkit-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    border-radius: 2px;
                    margin-top: 30px;
                    &:hover {
                        background: $text;
                    }
                }
            }
            .text-wrapper > *{
                color: $title;
            }
            &.has-cover {
                .text-wrapper {
                    .prd-price {
                        display:none;
                    }
                }
                .text-wrapper > *{
                    color: #fff;
                }
                .inner {
                    &:after{
                        display: none;
                    }
                }
                .images-wrapper {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    width: 50%;
                    max-width: 270px;
                    padding: 0 20px;
                    text-align: center;
                    @include setTransform(translateY(-50% ));
                    img { max-width:270px; }
                }
                .prd-cover-img {
                    display: inline-block !important;
                    /*padding: 20px;
                    width: 45%;
                    left: 5px;
                    top: 20px;
                    position: absolute;
                    text-align: center;*/
                } 
                .prd-price-single {
                        position: absolute;
                        right: 5px;
                        bottom: 5px;
                        display:inline-block;
                        > div {
                            color: $dBlue;
                            background: url(/images/frontend/fiyatBg.png) no-repeat;
                            width: 154px;
                            height: 70px;
                            display: inline-block;
                            padding: 20px 0px 0 0;
                            border-radius: 0;
                            border-bottom-right-radius: 3px;
                            font-size: 30px;
                            font-family: $fB;
                            text-align: center;
                            padding-top: 23px;
                            &:before {
                                content: 't';
                                font-family: "tl";
                                color: $dBlue;
                                font-size: 25px;
                                display: inline-block;
                                margin-right: 5px;
                                font-weight: normal;
                            }
                            .d {
                                display:none;
                            }
                        }
                }
            }
        }
        &.active-slide{
            opacity: 1;
            .inner {
                -webkit-filter:none;
                filter:none;
            }
        }
    }
    .swiper-slide.small{
        .swiper-slide-wrapper{
            width: 50%;
            .inner{
                &:after{
                    background: rgba(0, 0, 0, 0.7);
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
                    background:-moz-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
                    background:-webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 275px;
                    display: block;
                    content: '';
                    border-radius: 0 0 3px 3px;
                }
            }
            .text-wrapper{
                top: inherit;
                transform: none;
                bottom: 5px;
                padding: 0;
                min-height: 130px;
                padding-left: 5px;
                padding-right: 5px;
                .prd-title {
                    padding: 10px 30px 25px 20px;
                    h1{
                        margin: 0;
                        font-size: 24px;
                        color: #ffffff;
                    }
                }
                .prd-subtitle h1{
                    font-size: 14px;
                    color: $title;
                    font-family: $fD;
                    margin: 0;
                }
                .prd-price{
                    color: $dBlue;
                    background: #ffffff;
                    border-radius: 0 0 3px 3px;
                    padding-bottom: 10px;
                    > div{
                        background: none;
                        margin: 0;
                        padding: 0;
                        color: $dBlue;
                        &:before{
                            color: $dBlue;
                        }
                    }
                    text-align: center;
                    span{ color: $dBlue; }
                }
            }
            &.has-cover {
                .inner {
                    &:after{
                        display: none;
                    }
                }
                .images-wrapper {
                    top: 25px;
                    right: 5px;
                    left: 5px;
                    margin: 0 auto;
                    transform: none;
                    padding: 0;
                    width: 100%;
                    max-width: 230px;
                    img {
                        max-width: 230px;
                    }
                }
                .text-wrapper {
                    .prd-title {
                        padding-top: 0;
                        padding-bottom: 15px;
                        h1{
                             color: $dBlue;
                        } 
                    }
                }
                .prd-cover-img {
                    right: 0;
                    left: 0;
                    top: 10px;
                    position: absolute;
                    margin: 0 auto;
                    text-align: center;
                    padding: 10px 0;
                    img {
                        width: auto;
                        max-height: 150px; 
                    }
                }
            }
        }
    }
    .swiper-slide.big{
        .swiper-slide-wrapper{
            width: 100%;
            .text-wrapper {
                max-width: 370px;
                left: 5px;
            }
            &.has-cover {
                .text-wrapper{
                    padding: 0 30px 0 0;
                    width: 50%;
                    left: inherit;
                    right: 5px;
                }
                .prd-cover-img {
                    padding:50px 20px;
                    width: 50%; 
                    left: 0px;
                    top: 0px;
                    height: 100%;
                    position: absolute;
                    text-align: center;
                    img {
                        height: 100%; 
                    }
                }
            }
            &.spc-cover {
                .inner {
                    /*background-size: contain !important;*/
                }  
            }
            &.prc-cover {
                .inner {
                    /*background-size: contain !important;*/
                } 
                .text-wrapper {
                    max-width: none;
                    right: 5px;
                    left: auto;
                    bottom: 5px;
                    top: auto;
                    width: auto;
                    transform: none;
                    padding: 0;
                    margin: 0;
                }
                .prd-price {
                    > div {
                        background:none;
                        color:$dBlue;
                        background:url(#{$baseHref + "/images/frontend/fiyatBg.png"}) no-repeat;
                        width:154px;
                        height:70px;
                        display:inline-block;
                        padding: 20px 0px 0 0;
                        border-radius: 0;
                        /*border-bottom-right-radius: 3px;*/
                        span {
                            color:$dBlue;
                        }
                        &:before {
                            color:$dBlue;
                            font-size: 28px;
                        }
                    }
                }
            }

        }
    }
    .swiper-slide.big.white{
        .text-wrapper > *{
                color: #ffffff;
        }
        .prd-price {
            > div{
                &:before{
                    color: $title;
                }
                background: #ffffff;
                color: $title;
                span{color: $title;}
            }
        }
    }
    &.swiper-container-horizontal {
        > .swiper-pagination-bullets{
            display: block;
            bottom: 25px;
            .swiper-pagination-bullet{
                margin: 0 0 0 10px;
                width: 12px;
                height: 12px;
                border: 2px solid $title;
                background: #ffffff;
            }
            .swiper-pagination-bullet:first-child{
                margin-left: 0;
            }
            .swiper-pagination-bullet-active{
                border: 2px solid $title;
                background: $title;
            }
        }
    }
    &:hover {
        .swiper-button-prev, .swiper-button-next {
            opacity:1;
        }
    }
}

.mobile-cat-slider{
    display: none;
    background: $vlightBg;
    padding: 20px 10px 20px 20px;
    overflow: hidden;
    h1{
        margin: 0;
        font-weight: normal;
        font-size: 20px;
        color: #263238;
        font-family: $fM;
        padding: 0 0 10px 10px;
    }
    .swiper-wrapper{
        .swiper-slide{
            text-align: center;
            a{
                display: block;
                background: #ffffff;
                padding: 10px 0;
                img{
                    max-width: 125px;
                    width: 100%;
                }
                span{
                    margin-top: 10px;
                    font-size: 15px;
                    /*font-size: calc(10px + 0.5vw);*/
                    color: $dBlue;
                    font-family: $fM;
                    min-height: 35px;
                    max-height: 35px;
                    overflow: hidden;
                    display: block;
                }
            }
        }
    }
    .featured-slider li{
            width:220px;
     }
}

/*Mobile Gecis*/
@media screen and (max-width:$breakpointSM) {
    .main-slider {
        padding: 0 0px 50px 0px;
        .swiper-slide {
            opacity: 1;
            .swiper-slide-wrapper {
                .text-wrapper {
                    position: static;
                    transform:none;
                    text-align: center;
                    padding: 20px;
                    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
                    overflow: hidden;
                    max-height: 0;
                    padding: 0;
                    width: 100%;
                    span {
                        display:none;
                    }
                    h4 {
                        font-size: 30px;
                        color: $title !important;
                    }
                    p {
                        font-size: 14px;
                        margin: 10px 0 0 0;
                        color: $title !important;
                    }
                    b {
                        margin-bottom:15px;
                        }
                }
            }
            &.swiper-slide-active {
                &.active-slide {
                    .swiper-slide-wrapper {
                        .text-wrapper {
                            max-height: 100%;
                            padding: 0px 20px;
                            margin-top: 15px;
                            max-height: 1000px;
                            transition: max-height 1s ease-in-out;
                        }
                    }
                }
            }
            .inner {
                img {
                    display:none;
                }
            }
            .prd-cover-img {
                display: inline-block;
                width: 100%;
                img {width:100%;}
            }
        }
        .swiper-inner{
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
        } 
        &.swiper-container-horizontal {
            > .swiper-pagination-bullets{   
                .swiper-pagination-bullet{
                    width: 8px;
                    height: 8px;
                    border: none;
                    background: $title;
                }
                .swiper-pagination-bullet-active{
                    background: #ffffff;
                    border:2px solid $title;
                }
            }
        }
    }
    .mobile-cat-slider{
        display: block;
    }
}

@media screen and (max-width: $breakpointXS) {
    .main-slider {
        .swiper-slide {
            /*height: 315px;*/
            width: 100%;
            .inner {
                /*height: 310px;*/
            }
            .swiper-slide-wrapper{
                /*min-height: 315px;*/
                .text-wrapper{
                    padding:0px 20px;
                    margin-top:15px; 
                    width: 100%;
                    .prd-code, .prd-subtitle { display: none;}

                    h1{
                        margin-top: 0;
                        font-size: 24px;
                    }
                    ul{ padding-top: 10px; }
                    ul li{ line-height: 20px; font-size: 12px; }
                    .prd-price > div { min-width: 130px; padding:5px 10px; }
                    .prd-price > div, .prd-price > div span{ font-size: 30px; }
                    .prd-price > div i{ margin-right: 0;}
                    .prd-price > div:before{ font-size: 25px; }
                }
                .text-wrapper-floor{
                    padding:20px 10px 10px 10px;
                    .prd-subtitle { min-height: 30px; max-height: 30px; }    
                }
                &.has-cover { 
                    .images-wrapper { 
                        max-width: 200px;
                        padding: 0 20px;
                        img{ max-width: 160px; }
                    }
                }
            }
        }
        .swiper-slide.big {
            .swiper-slide-wrapper {
                .text-wrapper{ max-width: 65%; }
                &.has-cover {
                    .images-wrapper{
                        max-width: 50%;
                        img{ max-width: 100%;}
                    }
                    .text-wrapper{
                        padding-right: 20px;
                    }
                }
            }
        }
        .swiper-slide.small {
            .swiper-slide-wrapper{
                .inner {
                    &:after{
                        height: 200px;
                    }
                }
                .text-wrapper{
                    .prd-subtitle h1 { font-size: 12px; }
                    .prd-title {
                        padding: 0 10px 10px 10px;
                        h1{ font-size: 18px; }
                    }
                }
                &.has-cover {
                    .text-wrapper .prd-title { padding-bottom: 10px; }
                    .images-wrapper{
                        top: 15px;
                        max-width: 95%;
                        img{ max-width:150px; }
                    }
                }
            }
        }
    }   

    .mobile-cat-slider{
        .swiper-wrapper{
            .swiper-slide{
                text-align: center;
                a{
                    span{
                        font-size: calc(8px + 0.2vw);
                    }
                }
            }
        }
    }
}