// General Definations
//$baseHref: ''; 
$baseHref: '';    
// test 

  
// Typography 
$fD: "regular";
$fM: "medium";
$fB: "bold";
$tl: "tl"; 

//font size
$fontSizeDefault: 12px; 

// Fonts Colorss
$colorDefault: #000;
$title: #3f4552;
$text: #8b9bb5;
$sText: #9e9e9e;
$pText: #f56aa8;
$rText: #ff6c6c;
$lines: #e9ebf2;
$lightBg: #f6f7fb;
$vlightBg: #e9ebf2;
$dlightBg: #8e9db7;


// Color

$pink: #f06273;
$lPink: #f86dbe;
$green: #1bdd79;
$lGreen: #59edd4;
$dGreen: #0ed369;
$blue: #4694ff;
$lBlue: #7ddeff;
$purple: #6d62cc;
$lPurple: #f2abff;
$borderColor:#e0e0e0;
$red: #ff3636;


// Layout
$siteContainerWidth: 1240px;
$productSliderWidth: 1220px;
$siteContainerWideWidth: 1440px;
$siteContainerWidthShort: 800px;
$siteContainerWidthFull: 100%;
$singleOuter: 1.6rem;

//old Font
$fontDefault:'dd';
$fontSite:'dd';
$fontSiteReg:'dd';
$fontSiteBold:'dd';

//Old Colors
$colorRed: #ED1C24;
$marineBlue: #002b5c;
$lightBlue:#0262b7;
$dBlue: #0153a6;
$hGreen: #2cc66f;
$gold:#ff8f00;

$randomNumber: random(5);